/* Reset de estilos */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

small {
  font-size: 0.833rem;
}

/* Main section */
.main__container {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grayish-blue);
}

.hero__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  width: 100%;
  height: 100%;
}

.hero__section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
  background-color: white;
}

.hero__section__content_img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  object-fit: cover;
}

.hero__section__content__container {
  padding: 2.5rem 2rem 1.5rem 2rem;
  position: relative;
}

.hero__section__content__text p {
  margin-top: 1rem;
  line-height: 1.5;
}

.hero__section__content__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

.hero__section__content__author__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__section__content__author__img {
  width: 2.5rem;
  border-radius: 50%;
}

.hero__section__content__author__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__section__content__author__text p {
  font-weight: 600;
}

.social__media__popup {
  display: flex;
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  gap: 1.2rem;
  padding: 2.6rem 1.5rem;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}

.social__media__popup__text {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--light-grayish-blue);
}

.social__media__popup__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero__section__content__author__btn {
  background-color: hsl(212, 25%, 78%, 0.3);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  z-index: 10;
}

.btn__active {
  background-color: var(--light-grayish-blue);
}

.active {
  opacity: 1;
}

/* Media queries */
@media screen and (min-width: 1024px) {
  .hero__section__content {
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    max-width: 55rem;
  }

  .hero__section__content_img {
    border-radius: 1rem 0 0 1rem;
  }

  .hero__section__content__container {
    padding: 2rem 3rem;
  }

  .social__media__popup {
    width: 20rem;
    height: 4rem;
    padding: 1.5rem;
    border-radius: 1rem;
    bottom: 6rem;
    right: -6rem;
  }

  .social__media__popup:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--very-dark-grayish-blue);
    rotate: 180deg;
    position: absolute;
    bottom: -0.9rem;
    left: 9rem;
  }

  .btn__active {
    background-color: var(--grayish-blue);
  }
}
